<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans http://www.springframework.org/schema/data/jpa"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"     
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    	http://www.springframework.org/schema/data/jpa
    	http://www.springframework.org/schema/data/jpa/spring-jpa-4.1.xsd        		
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">
 
	<!-- @Controller, @Service, @Configuration, etc. -->
	<context:component-scan base-package="com.kwi.mposreports,com.kwi.mposlogger" />
	
	<repositories base-package="com.kwi.mposlogger" />  	
	
	<!-- Enables the Spring MVC @Controller programming model which one is right below? -->
	<mvc:annotation-driven />
	<context:annotation-config/>
	
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/" />	
  
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

   	<!-- copied from applicationContext .xml because i don't know which one to use at the moment 12-4-15 -->
	<bean id="logRepository" class="com.kwi.mposlogger.LogRepository" />

</beans>